﻿@model todo.Models.ActiveListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Main -->
<div id="main">
    <div class="inner" v-if="activeList != void(0)">

        <header id="header">

            <h2 id="content" contenteditable="true" v-on:input="listTitleChanged">{{activeList.listInfo.name}}</h2>

        </header>

        <!-- TASK LIST -->
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Delete</th>
                        <th>Save</th>
                        <th>Status</th>
                        <th>Task Name</th>
                    </tr>
                </thead>
                <tbody>

                    <tr :id="'task_'+ task.taskId" v-for="task in activeList.tasks">


                        <td v-on:click="deleteTask($event, task.taskId)"><i class="fa fa-trash"></i></td>
                        <td v-on:click="saveTask($event, task.taskId)"><i class="fa fa-save"></i></td>
                        <td>
                            <div>
                                <input :id="'status_'+ task.taskId" :name="'status_'+ task.taskId" type="checkbox" v-model="task.statusState">
                                <label :for="'status_'+ task.taskId"></label>
                            </div>
                        </td>
                        <td>
                            <input type="text" :name="'name_'+ task.taskId" v-model="task.name" placeholder="Name" />
                        </td>
                    </tr>

                </tbody>

            </table>
            <a href="#" v-on:click="addNewTask" class="button primary fit"><i class="fa fa-plus"></i>Add Task</a>
            <hr />
            <a href="#" v-on:click="deleteList($event, activeList.listInfo.listId)" class="button primary fit"><i class="fa fa-trash"></i> Delete List </a>
        </div>

    </div>

</div>

<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Todo App</h2>
            </header>
            <ul>
                <li v-for="list in userslists">
                    <a :href="listpagelink(list.listId)">
                        {{ list.name }}
                    </a>
                </li>
            </ul>
        <a href="home\newlist" class="button primary fit">New List</a>
        </nav>
        <!-- id:sidebarToggler-->
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>

    function ListAPIEndpoints(baseURL) {

        this.b = baseURL;
        this.subroute = "/api/list";
    }

    ListAPIEndpoints.prototype.urlpath = function () {
        return this.b + this.subroute;
    };

    //GET
    ListAPIEndpoints.prototype.lists = function () {
        return this.urlpath() + "/all";
    };

    //POST (CREATE)
    ListAPIEndpoints.prototype.createList = function () {
        return this.urlpath();
    };

    //GET, PUT, DELETE
    ListAPIEndpoints.prototype.listById = function (listId) {
        return this.urlpath() + "/" + listId;
    };

    //POST (CREATE)
    ListAPIEndpoints.prototype.createTask = function (listId) {
        return this.urlpath() + "/" + listId + "/task";
    };

    //GET, PUT, DELETE
    ListAPIEndpoints.prototype.taskById = function (listId, taskId) {
        return this.urlpath() + "/" + listId + "/task/" + taskId;
    };

</script>

<!-- Manages sidebar -->
<script>

    var urls = new ListAPIEndpoints(window.location.origin);

    var appSB = new Vue({
        el: '#sidebar',
        data: function () {
            return {
                userslists: []
            }
        },
        methods: {
            listpagelink: function (listId) {
                return "" + listId;
            }
        },
        mounted: function () {
            console.log("mounting");
            this.userslists;

            axios.get(urls.lists()).then(res => {

                console.log("Retrieved all lists");
                appSB.userslists = res.data;

            }).catch(function (error) {
                console.log("get:list all:failed:");
                console.log(error);
            });

        }

    });

</script>

<!-- Manages task list -->
<script>

    //Use this to retrieve the current task list.
    var targetListId = "@Model?.ListId"
     
    var urls = new ListAPIEndpoints(window.location.origin);

    var app = new Vue({
        el: '#main',
        data: function () {
            return {
                activeList: null,
                titleChangeTimeout: null
            }
        },
        computed: {

        },
        methods: {
            listTitleChanged: function (e) {

                if (this.titleChangeTimeout != null) {
                    clearTimeout(this.titleChangeTimeout);
                }

                var newTitle = e.target.innerText;
                
                this.titleChangeTimeout = setTimeout(() => {

                    this.saveListTitle(null, newTitle);
                }, 3000);

            },
            deleteList: function (e) {


                var listId = this.activeList.listInfo.listId;
                console.log("on Delete TaskId:" + listId);

                axios.delete(urls.listById(listId)).then(res => {

                    console.log("Deleted list", listId);
                    
                    window.location.href = window.location.origin;

                }).catch(function (error) {
                    console.log("delete:list:failed:");
                    console.log(error);
                });

            },
            saveListTitle: function (e, nameUpdate) {
                console.log("on save list title:" + nameUpdate);

                var listId = this.activeList.listInfo.listId;

                var nameContainer = {name: nameUpdate};

                console.log(urls.listById(listId));
                console.log(nameContainer);

                axios.put(urls.listById(listId), nameContainer).then(res => {
                    console.log("Saving list name");

                    //update the sidebar..should rework so model binding is across the doc body
                    var sidebarListMeta = appSB.userslists.find(el => el.listId == listId);
                    sidebarListMeta.name = nameContainer.name;

                }).catch(function (error) {
                    console.log("put:list name:failed:");
                    console.log(error);
                });

            },
            addNewTask: function (e) {

                var listId = this.activeList.listInfo.listId;

                axios.post(urls.createTask(listId)).then(res => {
                    console.log("Retrieved newly created task");

                    if (res.data != null) {
                        console.log(res.data);
                        var taskItem = res.data.taskInfo;

                        taskItem['statusState'] = taskItem.status == 0 ? false : true;

                        //need to refer to with variable defined outside of scope. alt use axios as vue plugin
                        app.activeList.tasks.push(taskItem);
                    }

                }).catch(function (error) {
                    console.log("get:list:failed:");
                    console.log(error);
                });

            },
            saveTask: function (e, taskId) {

                console.log("on Save TaskId:" + taskId);

                var listId = this.activeList.listInfo.listId;

                var taskToSave = this.activeList.tasks.find(el => el.taskId == taskId);
                taskToSave.status = taskToSave.statusState == true ? 1 : 0;

                axios.put(urls.taskById(listId, taskId), taskToSave).then(res => {
                    console.log("Saving task newly created task");

                }).catch(function (error) {
                    console.log("put:task:failed:");
                    console.log(error);
                });

            },
            deleteTask: function (e, taskId) {

                console.log("on Delete TaskId:" + taskId);

                var listId = this.activeList.listInfo.listId;

                axios.delete(urls.taskById(listId, taskId)).then(res => {
                    console.log("Deleted task", taskId);
                    //sync UI
                    var targetIndex = this.activeList.tasks.map(el => el.taskId).indexOf(taskId);
                    this.activeList.tasks.splice(targetIndex, 1);

                }).catch(function (error) {
                    console.log("delete:task:failed:");
                    console.log(error);
                });

            }

        },
        mounted: function () {

            var listId = targetListId;

            console.log("mounting");

            if (listId !== "") {

                axios.get(urls.listById(listId)).then(res => {

                    console.log("Retrieved targeted list");

                    if (res.data != null) {
                        console.log(res.data);
                        app.activeList = res.data;

                        //
                        app.activeList.tasks.forEach(el => el['statusState'] = el.status == 0 ? false : true);
                    }


                }).catch(function (error) {
                    console.log("get:list:failed:");
                    console.log(error);
                });

            } else {
                console.log("listid: not loaded during moount")
            }


        }

    });

</script>

